* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.table {display: table;text-align: left;border-collapse: collapse;}
.caption {caption-side: bottom; text-align: center; display: table-caption !important; white-space: nowrap;}
.title {caption-side: top; text-align: center; display: table-caption !important;}
div.table > div {display: table-row;}
div.table > div > div {display: table-cell;vertical-align: middle;}
.table label{width:130px;}

.header {
	padding-top: 5px;
}

.leftArea {
	position: absolute;
	left: 10px;
	top: 70px;
	bottom: 20px;
	width: 260px;
	border:solid 1px #CCCCCC;
	overflow-y: scroll;
}

.mainArea {
	position: absolute;
	top: 70px;
	bottom: 20px;
	left:300px;
	overflow-y: scroll;
	width:400px;
}

.rightArea {
	position: absolute;
	top: 70px;
	bottom: 20px;
	left:750px;
	overflow-y: scroll;
	width:670px;
}

.left, .right {
	display:inline-block;
	vertical-align: top;
	overflow: auto;
}
.left {
	width: 30%;
}
.right {
	width:60%;
}

ul {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
}

li a { 
	text-decoration:none;
	display: block;
	color: #000000;
	border-bottom:solid 1px #CCCCCC;
	padding: 8px;
}

li a:hover {
	background-color: #4B0A1E;
	color: #BA8A92;
}

input, textarea {
  border:1px solid #ccc;
  min-height:30px;
  outline: none;
}

.mainArea input {
  margin-bottom:15px;
  margin-top:5px;
  width:280px;
}

textarea {
	margin-bottom:15px;
  	margin-top:5px;
	height: 200px;
  	width:250px;
}

label {
	display:block;
}

button {
	padding:6px;
}

.imgcontainer { position: relative; }
.imgcontainer > div { border: 3px solid red; z-index: 99; }
.imgcontainer span { background: white; border: 1px solid black; padding: 1px; }

#searchKey {
	width:160px;
}

#Slots input, #poopupRight input {
	color: white;
	padding-left: 10px;
	width: 70px;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	background-color: transparent;
}

#poopupLeft, #poopupRight {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
