* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.table {display: table;text-align: left;border-collapse: collapse;}
.caption {caption-side: bottom; text-align: center; display: table-caption !important; white-space: nowrap;}
.title {caption-side: top; text-align: center; display: table-caption !important;}
div.table > div {display: table-row;}
div.table > div > div {display: table-cell;vertical-align: middle;}
.table label{width:130px;}

.header {
	padding-top: 5px;
}

.leftArea {
	position: absolute;
	left: 10px;
	top: 159px;
	bottom: 20px;
	width: 260px;
	border:solid 1px #CCCCCC;
	overflow-y: scroll;
}

.mainArea {
	position: absolute;
	top: 159px;
	bottom: 20px;
	left:300px;
	overflow-y: scroll;
	width:400px;
}

.rightArea {
	position: absolute;
	top: 159px;
	bottom: 20px;
	left:750px;
	overflow-y: scroll;
	width:670px;
}

.left, .right {
	display:inline-block;
	vertical-align: top;
	overflow: auto;
}
.left {
	width: 30%;
}
.right {
	width:60%;
}

ul {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
}

li a { 
	text-decoration:none;
	display: block;
	color: #000000;
	border-bottom:solid 1px #CCCCCC;
	padding: 8px;
}

li a:hover {
	background-color: #4B0A1E;
	color: #BA8A92;
}

input, textarea {
  border:1px solid #ccc;
  min-height:30px;
  outline: none;
}

.mainArea input {
  margin-bottom:15px;
  margin-top:5px;
  width:280px;
}

textarea {
	margin-bottom:15px;
  	margin-top:5px;
	height: 200px;
  	width:250px;
}

label {
	display:block;
}

button {
	padding:6px;
}

.imgcontainer { position: relative; }
.imgcontainer > div { border: 3px solid red; z-index: 99; }
.imgcontainer span { background: white; border: 1px solid black; padding: 1px; }

#searchKey {
	width:160px;
}

#PowerPorts > div.table > div > div:first-child,
#TemplatePorts > div.table > div > div:first-child {
	width: 40px;
	text-align: center;
}

#Slots input, #poopupRight input {
	color: white;
	padding-left: 10px;
	width: 70px;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	background-color: transparent;
}

#poopupLeft, #poopupRight {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}


body, h3 { margin-top: 0px; margin-bottom: 0px; }
div#header { position: relative; text-align: center; background-color: #8a7b65; padding: 5px 10px 0px; }
#header > #nav { display: block; position: absolute; width: 100%; left: 0; bottom: 0; background-color: #de2211; font-family: Oswald,sans-serif;border-top: 1px solid #fc403c; border-bottom: 1px solid #fc403c; }
#logo { left: 10px; top: 19px; position: absolute; }
#stats { top: 0px; right: 10px; position: absolute; text-align: left; }
#title { height: 154px; line-height: 114px; }
#title > h1 { font-size: 36px; margin: 0; overflow: hidden; }
#footer > p { margin: 0; font-size: 12px; text-align: center; }
#nav a { color: #ffffff; font-size: 1.2em; letter-spacing: -1px; text-decoration: none; text-shadow: 0 1px 1px #590200; text-transform: lowercase; border: 0;}
#nav a:hover { background-color: #fc403c; }
#nav ul { list-style: outside none none; text-align: left; margin: 0; }
#nav ul li { display: inline-block; padding: 0 15px; }
.selected { background-color: #eb081e; text-shadow: 0 1px 1px #590200; color: white; }

.power, .ports { width: 45%; margin-top: 10px; min-height: 40px; margin-left: 20px; display: inline-block; vertical-align: top; }
.ui-widget-header { background: #de2211; }
.ui-dialog .left { width: 350px; white-space: nowrap; }
.ui-dialog .right { width: 450px; }
.ui-dialog .right .image { position: relative; }
.ui-dialog .left p { margin: 0px; }

.ui-dialog table { border-collapse: collapse; border: 1px solid black; }
.ui-dialog table th { padding: 0 5px; }
.ui-dialog table td { border: 1px solid black; padding: 0 5px; }
.image > div { border: 1px solid red; z-index: 99; }
.image span { background: white; border: 1px solid black; padding: 1px; }
